{% extends "base_content.html" %}
{% block title %}{{ news.title }}{% endblock %}
{% block otherres %}
    <script type="text/javascript">
        $(function(){
            $(".translate").bind("click",function(){
                switch ($(this).attr("data-target")){
                    case "CH":
                        $(".englishCH").show();
                        $(".english").hide();
                        break;
                    case "EN":
                        $(".englishCH").hide();
                        $(".english").show();
                        break;
                    case "CE":
                        $(".englishCH").show();
                        $(".english").show();
                        $(".english").tooltip("hide");
                        break;
                    default:
                        break
                }
            });
        })
    </script>
{% endblock %}
{% block content_detail %}
    <div class="span12">
        <ul class="breadcrumb bg_white">
            <li><a href="/">首页</a> <span class="divider">&gt;</span></li>
            <li><a href="/read/">精美阅读</a> <span class="divider">&gt;</span></li>
            <li><a href="/read/article/">短文欣赏</a> <span class="divider">&gt;</span></li>
            <li class="active">{{ artcicle.displayName }}</li>
        </ul>
    </div>
    <div class="span12">
        <div class="span12">
            <label><h2 class="span12">{{ artcicle.displayName|escape }}</h2></label>
        </div>
        <div class="span12">
            <label class="span9">日期：{{ artcicle.createDate|date:'Y-m-d'}}　　阅读量：{{ artcicle.pointCount }}</label>
            <div class="span3" style="text-align: right;">
                <div class="btn-group" data-toggle="buttons-radio">
                    <button class="btn btn-mini btn-info translate" data-target='CH'>中</button>
                    <button class="btn btn-mini btn-info active translate" data-target='EN'>英</button>
                    <button class="btn btn-mini btn-info translate" data-target='CE'>双</button>
                </div>
            </div>
        </div>
        <hr class="span12" style="margin: 0px;">
    </div>
{% spaceless %}
    <div class="span12">
        {% if artcicle.read %}
            <div class="span3">
                <img src="/upload/{{ artcicle.imageShow }}" class="img-rounded" />
            </div>
        {% endif %}
        <div class="span6">
            <p class="english">{{ artcicle.content|safe }}</p>
        </div>
        <div class="span6">
            <p class="englishCH" style="display: none;">{{ artcicle.contentCH|safe }}</p>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span12">评论</div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}