{% extends "common/base.html" %}
{% block title %}英语资料网{% endblock %}
{% block otherres %}
    <style>
    .body{
        margin: 0px auto;
    }
    #find404 .info{
        display: none;
    }
    #find404>.mod_lost_child{
       margin-top: 0px;
        margin-bottom: 0px;
    }
    </style>
{% endblock %}
{% block content %}
        <div id="find404">
            <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
        </div>
{% endblock %}