{% extends "common/base.html" %}
{% block title %}英语资料网{% endblock %}
{% block otherres %}
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/audio/audio.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#leftNav").affix({
                offset: {x: 100, y: 0}
            })
            $('#accordionNav').on('hidden',function () {
                $("#angle").attr("class", "icon-angle-down");
            }).on("show", function () {
                        $("#angle").attr("class", "icon-angle-up");
                    })
        })
        audiojs.events.ready(function () {
            var as = audiojs.createAll();
        });
    </script>
{% endblock %}
{% block content %}
    <div id="leftNav" data-spy="affix" data-offset-top="-100">
        <div class="accordion leftBorder ">
            <div class="accordion-group" id="accordionNav" style="border-bottom: 0px;margin-bottom: 0px;">
                <div class="accordion-heading">
                    <div class="btn btn-small" style="width:100%;border:0px;padding: 0px;" data-toggle="collapse"
                         data-target="#collapseOne">
                        导航 <i class="icon-angle-down" id="angle"></i>
                    </div>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div>
                        <ul class="nav nav-list leftNav" style="padding: 0px;font-size: 12px;">
                            <li><a href="#doubleNews">双语新闻</a></li>
                            <li><a href="#hotRes">热门资源</a></li>
                            <li><a href="#hotVideo">热门影视</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="btn btn-small" style="width:100%;border-top: 0px;padding: 0px;" href="#" title="返回顶部">
                <i class="icon-chevron-up"></i>
            </a>
        </div>

    </div>
    <div class="row-fluid">
        <div class="span6">
            <div id="myCarousel" class="carousel slide div">
                <ol class="carousel-indicators">
                    {% for ns in carNews %}
                        {% if forloop.first %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"
                                class="active">{{ forloop.counter0 }}</li>
                        {% else %}
                            <li data-target="#myCarousel"
                                data-slide-to="{{ forloop.counter0 }}">{{ forloop.counter0 }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for ns in carNews %}
                        {% if forloop.first %}
                            <div class="active item">
                                {% for x in ns.newsres_set.all %}
                                    {% if forloop.first %}
                                        <img src="/upload/{{ x.resUrl}}" style="height: 220px;width: 100%;">
                                    {% endif %}
                                {% endfor %}
                                <div style="height:30px;color: #fff;background: none repeat scroll 0 0 #222222;">
                                    <a href="/news/detail/{{ ns.id }}"><strong>{{ ns.title }}</strong></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="item">
                                {% for x in ns.newsres_set.all %}
                                    {% if forloop.first %}
                                        <img src="/upload/{{ x.resUrl}}" style="height: 220px;width: 100%;">
                                    {% endif %}
                                {% endfor %}
                                <div style="height:30px;color: #fff;background: none repeat scroll 0 0 #222222;">
                                    <a href="/news/detail/{{ ns.id }}"><strong>{{ ns.title }}</strong></a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
        <div class="span6">
            <div class="div">
                <ul class="nav nav-tabs" style="font-size: 12px;">
                    <li class="active"><a href="#words" data-toggle="tab">每日一词</a></li>
                    <li><a href="#sentence" data-toggle="tab">每日一句</a></li>
                    <li><a href="#musice" data-toggle="tab">每日一曲</a></li>
                    <li><a href="#settings" data-toggle="tab">每日笑话</a></li>
                </ul>
                <div class="tab-content tab_con_botm_border content_height" style="height: 190px;">
                    <div class="tab-pane active" id="words">
                        <div class="span12">
                            <div class="span9">
                                <p><strong>encore [ɔŋ'kɔ:]</strong><i class="icon-volume-up"></i></p>

                                <p>n. 再演唱的要求,经要求而再唱

                                <p>

                                <p>int. 再演唱一次!</p>

                                <p>v. 要求再演或唱</p>
                            </div>
                            <div class="span3">
                                <div style="height: 120px;">
                                    <img src="/static/images/words.jpg" class="img-rounded" style="margin-top: 45px;">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="sentence">
                        <div class="span12">
                            <div class="span9">
                                <p class="text-info">Life and death are determined by fate, rank and riches decreed by
                                    Heaven.</p>
                                <small>生死有命，富贵由天</small>
                            </div>
                            <div class="span3">
                                <img src="/static/images/sentence.jpg" class="img-rounded" style="margin-top: 45px;">
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="musice">
                        <audio></audio>
                    </div>
                    <div class="tab-pane" id="settings">
                        <small>A Good Boy <br>
                            Little Robert asked his mother for two cents.
                            "What did you do with the money I gave you yesterday?"
                            "I gave it to a poor old woman," he answered.
                            "You’re a good boy," said the mother proudly.
                            "Here are two cents more. But why are you so interested in the old woman?"
                            "She is the one who sells the candy."
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 双语新闻-->
    <div class="row-fluid">
        <div class="span12" id="doubleNews">
            <h4 class="span12 topicHead"><span class="span10"
                                               style="line-height: 30px;">双语新闻 English&Chinese News</span> <a
                    CLASS=" span2 text-right" style="color: #fff;" href="/news/">more &gt;&gt; </a></h4>

            <div class="row" style="margin-left: 0px;">
                {% for ns in news %}
                    {% if forloop.first %}
                        <div class="span3 well">
                            <div class="span12">
                                {% for x in ns.newsres_set.all %}
                                    {% if forloop.first %}
                                        <img src="/upload/{{ x.resUrl}}" class="img-rounded" style="height: 150px;width: 100%;">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="span12"><h6><a href="/news/detail/{{ ns.id }}/"> {{ ns.title }} </a></h6></div>
                            <div class="span12">
                                <small>{{ ns.introduce }}</small>
                            </div>
                            <div class="span12"><i class="icon-talk"></i></div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="span5">
                    <h3>最新新闻</h3>
                    <ul class="nav nav-list">
                        {% for ns in news %}
                            <li><a href="/news/detail/{{ ns.id }}/">{{ ns.title }}
                                <small>{{ ns.createDate|date:"Y-m-d" }}</small>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="span4">
                    <h3>24小时热门</h3>
                    <ul class="nav nav-list">
                        {% for ns in hotNews %}
                            <li><a href="/news/detail/{{ ns.id }}/">{{ ns.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" id="hotRes">
            <h4 class="span12 topicHead"><span class="span10"
                                               style="line-height: 30px;">阅读资料 Read</span> <a
                    CLASS=" span2 text-right" style="color: #fff;" href="/read/">more &gt;&gt; </a></h4>

            <div class="row-fluid" style="margin-left: 0px;">
                <div class="span4 well">
                    <h3>精美短文</h3>
                    <ul class="nav nav-list">
                        {% for art in article %}
                            <li><a href="/read/article/detail/{{ art.id }}/">
                                <small>{{ art.displayName }}</small>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="span4 well">
                    <h3>热门文章</h3>
                    <ul class="nav nav-list">
                        {% for art in business %}
                            <li><a href="/read/english/detail/{{ art.id }}/">
                                <small>【{{ art.category }}】{{ art.displayName }}</small>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="span4 well">
                    <h3>热门资料</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" id="hotVideo">
            <h4 class="span12 topicHead"><span class="span10"
                                               style="line-height: 30px;">影视英语 Video</span> <a
                    CLASS=" span2 text-right" style="color: #fff;" href="/video/">more &gt;&gt; </a></h4>

            <div class="row-fluid" style="margin-left: 0px;">
                <div class="span4 well">
                    <h4>热播公开课</h4>
                    <ul class="nav nav-list">
                        {% for art in course %}
                            <li><a href="/video/open/detail/{{ art.id }}/">
                                <small>{{ art.title }}</small>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="span4">
                    <h4>热播美剧</h4>
                </div>
                <div class="span4">
                    <h4>经典电影</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="foot_line">

    </div>
{% endblock %}
