<!DOCTYPE html>
<html>
<head>
    <title>
    {% block title %}
    {% endblock %}
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/adminConsole.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/all.js"></script>
    <script src="/static/plugins/datagrid.js"></script>
    {% block res %}
    {% endblock %}

</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">Console<span>管理平台</span></a>
            <div class="btn-group pull-right" >
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i><span class="hidden-phone"> 云淡云舒</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">个人信息</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">退出</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <div class="top-nav nav-collapse">
                <ul class="nav">
                    <li><a href="#" target="_blank">查看首页</a></li>
                    <li>
                        <form class="navbar-search pull-left">
                            <input placeholder="查询" class="search-query span2" name="query" type="text">
                        </form>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <!-- left menu starts -->
        <div class="span2 main-menu-span">
            <div id="accordionTop" class="accordion">
                {% for m in menus %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <span class="label label-info accordion-toggle" data-parent="#accordionTop" data-target="#collapse{{ m.id }}" data-toggle="collapse">
                                <h5><i class="{{ m.iconCls }}"></i>{{ m.displayName }}</h5>
                            </span>
                        </div>
                        <div class="accordion-body collapse in" id="collapse{{ m.id }}">
                            <div class="accordion-inner">
                                <ul class="nav nav-pills nav-stacked">
                                    {% for subm in m.menu_set.all %}
                                        <li {% if nav == subm.href %}class='active'{% endif %}><a class="ajax-link" target="{{ subm.target }}"  href="{{ subm.href }}"><i class="{{ subm.iconCls }}"></i><span class="hidden-tablet">{{ subm.displayName }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div><!--/.well -->
        </div><!--/span-->
        <!-- left menu ends -->
        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="span10">
            {% block content %}
            <!--内容页面-->
            <!--内容页面 end -->
            {% endblock %}
        </div>
    </div>
    <footer>
        <p class="pull-left">&copy; <a href="http://usman.it" target="_blank">Muhammad Usman</a> 2012</p>
        <p class="pull-right">Powered by: <a href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
    </footer>
</div>
</body>
</html>