<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.json-2.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/application.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/all.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% block otherres %}
    {% endblock %}
    <META NAME="Author" CONTENT="">
    <META NAME="Keywords" CONTENT="">
    <META NAME="Description" CONTENT="">
</HEAD>
<BODY data-spy="scroll" data-target="#leftNav">
<header>
    <div class="navbar navbar-fixed-top" >
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">爱英语</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li {% ifequal 1 nav.navTop %}class="active" {% endifequal %}><a href="/"></i>首　　页</a></li>
                        <li class="divider-vertical"></li>
                        <li {% ifequal 2 nav.navTop %}class="active" {% endifequal %}><a href="/news/">双语新闻</a></li>
                        <li class="divider-vertical"></li>
                        <li {% ifequal 3 nav.navTop %}class="active" {% endifequal %}><a href="/read/">阅读文章</a></li>
                        <li class="divider-vertical"></li>
                        <li {% ifequal 4 nav.navTop %}class="active" {% endifequal %}><a href="/video/">影视英语</a></li>
                        <li class="divider-vertical"></li>
                        <li {% ifequal 5 nav.navTop %}class="active" {% endifequal %}><a href="#">关于我们</a></li>
                        <!--木有登录 -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if not request.session.loginFlag %}
                                    <li><a href="javascript:English.index.loginShow(true);">登录</a></li>
                                    <li>
                                        <a href="/user/registerpre/">注册</a>
                                    </li>
                                {% else %}
                                    <li><a href="javascript:void(0);" >{{ request.session.login.nickName }}</a></li>
                                    <li><a href="javascript:English.index.loginOut();">注销</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <!-- end 木有登录-->
                        <!-- 登录成功 -->

                    </ul>
                    <form class="navbar-form pull-right form-search">
                        <div class="input-append">
                            <input class="input-small" id="appendedInputButton" type="text">
                            <button class="btn" type="button"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</header>
<div class="row" style="margin-top: 45px;"></div>
{% block content %}{% endblock %}
<div class="row">
    <hr class="span12">
    <div class="footer" style="margin-bottom:50px;">
        <script src="http://s9.cnzz.com/stat.php?id=5380160&web_id=5380160&show=pic" language="JavaScript"></script>
    </div>
</div>
<div class="navbar navbar-fixed-bottom" >
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#" >回到顶部</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="modal hide fade" id="loginDialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-off"></i></button>
        <h3><i class="icon-user icon-2x"></i>用户登录</h3>
    </div>
    <div class="modal-body">
            <form class="form-horizontal" id="loginFm" method="post" action="/user/login/">
                <div class="control-group">
                    <label class="control-label">用户：</label>
                    <div class="controls">
                        <input type="text" class="input-medium" name="username" placeholder="Email"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">密码：</label>
                    <div class="controls">
                        <input type="password" class="input-medium" name="password"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"> 记住用户  <a href="#">忘记密码</a>
                        </label>
                    </div>
                </div>
                {% csrf_token %}
            </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:login(false)" class="btn btn-success">取　消</a>
        <input type="submit"class="btn btn-success" value="登　录" form="loginFm"/>
    </div>
</div>
</BODY>
</HTML>
