.loginTip{float:right;}
.loginTip li{background-color:#C0C0C0;width:92px;font-size:14px;text-align:right;list-style:none;border:1px solid #fff;color:#fff;}
.common_border{border:1px solid #A9DDEB;border-radius:10px;margin-top:20px;}
.noborder{border:none;}
.nomargin{
	margin:0px;}
.radius-border{border:1px solid #A9DDEB;border-radius:5px;}
.padding10{padding:10px;}
.padding5{padding:5px;}
.paddingtop5{padding-top:5px;}
.paddingtop10{padding-top:10px;}
.paddingleft5{padding-left: 5px;}
.margintop10{margin-top:10px;}
.margin10{margin-left:10px;margin-right:10px;}
.userKnow{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 80px;
    margin-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;}
#loginForm{margin:0px;padding:0px;padding-left:10px;border:1px solid #A9DDEB;border-radius:10px;border-top:none;border-left:none;border-right:none;background-color:#FFF;padding-top:35px;}
.btn_login{text-align:center;padding:2px;}
.head_green{background:url(../images/head_green.png) repeat-x left;height:21px;	border-radius:5px;}
.head_blue{background:url(../images/head_blue.png) repeat-x left;height:21px;	border-radius:5px;}
.studyIcon{margin:0px auto;border-radius:10px;height:64px;background-color:#539ccc;text-align:right;}
.sty_img{height:45px;padding-right:20px;font-size:18px;color:#fff;font-weight:bolder;line-height:50px;background:url(../images/startStu_icon.png) no-repeat left center;}
.sty_icon{padding:10px;text-align: center;}
.sty_icon a{display:inline-block;width:50px;}
.div{margin-top:20px;}
.tab_con_botm_border{border:1px solid #A9DDEB;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top:none;}
.tab_con_top_border{border:1px solid #A9DDEB;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom:none;}
.nav-tabs{border-bottom:1px solid #A9DDEB;margin-bottom:0px;}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {border:1px solid #A9DDEB;border-bottom:1px solid #fff;}
.div >.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover {border:1px solid #A9DDEB;border-top:1px solid #fff;}
.div >.tabs-below > .nav-tabs {border-top: 1px solid #A9DDEB;}
div >.tabs-below > .nav-tabs >li{width:33%;}
.content_height{height:125px;padding:10px;}
.content_height_mid{height:60px;padding:10px;}
.text-over{display:block;width:31em;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.text-align{text-align:center;}
.list_content>.row-fluid [class*="span"]{max-height:15px;}

.floatright{float:right;}

.line-bottom{border-bottom:1px solid #d1e7e6;}

.color_white{color:#fff}

.bg_white{background-color:#FFF;}
.bg_1{background-color:#A9DDEB;}
.bg_2{background-color:#2062a2;}
.bg_3{background-color:#FFFFCC;}
.bg_4{background-color:#90d6e3;}
.bg_img_1{background:url(../images/panel_bg.png);}
a:hover{text-decoration: none;}
p,h1,h2,h3,h4,h5,h6,span{cursor:default;}
/**
每日一句 tab
**/
.mainContent .right .everyDaytips{
	width:390px;
	float:left;
	height:160px;
}
.everyDaytips ul{
	list-style:none;
	width:100%;
	padding:0px;
	margin:0px;
	float:left;	}
.everyDaytips ul li{
	float:left;
	height:25px;
	line-height:25px;
	text-align:center;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	width:20%;
	border:2px solid #fff;
	border-left:none;
	border-top:none;
	border-bottom:none;
	}
.everyDaytips ul .default{
	/*background:url(../images/tab_default.png) no-repeat;*/
	background-color:#F7F2E5;
	
}
.everyDaytips ul .selected{
	/*background:url(../images/tab_selected.png) no-repeat;*/
	background-color:#E8EBA6;
}
.everyDaytips .tab_content{
	/*background:url(../images/tab_content.png) no-repeat center top;*/
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:1px solid #ccc;
	border-top:none;
	width:100%;
	float:left;
	height:135px;}
.split{
	width:2px;
	display:block;
	height:30px;
	margin-top:15px;
	float:right;
	background-image:url('../images/split.png');
}
.titleZN .titleEN{
	width:95px;
	display:block;
}
.topnav a{
	display:block;
	float:left;
	width:98px;
}

.icon_write{background:url(../images/icon_write.png) no-repeat left;}
.icon_read{background:url(../images/icon_read.png) no-repeat left;}
.icon_plan{background:url(../images/icon_plan.png) no-repeat left;}
	
.mainContent .midcenter .topRes{
	width:100%;
	height:160px;
	margin:0px auto;
	margin-top:20px;
	}
.topRes .head{
	background:url(../images/head_blue.png) left repeat-x;
	width:100%;
	height:21px;
	border-radius:5px;
	color:#fff;
	}

.sharePoint{
	border:1px solid #c9e1f8;
	width:100%;
	height:140px;
	padding:5px;
	float:left;
	border-radius:10px;
	background-color:#f0f9ff;
	margin-top:20px;
	}
.sharePoint .share_content{
	height:110px;
	border:1px solid #A9DDEB;
	background:#fff;
	border-bottom:none;
	border-top-left-radius:10px;
	border-top-right-radius:10px;}
.sharePoint ul{
	list-style:none;
	width:100%;
	padding:0px;
	margin:0px;
	float:left;	}
.sharePoint ul li{
	float:left;
	height:20px;
	line-height:20px;
	text-align:center;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	width:33%;
	border:2px solid #fff;
	margin-left:1px;
	border-top:none;
	}
.sharePoint ul .default{
	/*background:url(../images/tab_default.png) no-repeat;*/
	background-color:#daefff;
	
}
.sharePoint ul .selected{
	/*background:url(../images/tab_selected.png) no-repeat;*/
	background:transparent;
}

.connectus{
	width:100%;
	border:1px solid #DAEFFF;
	border-radius:10px;
	background-color:#f7fcfe;
	padding:5px;
	height:120px;
	float:left;
	margin-top:20px;}
.us_cont{
	width:100%;
	height:100%;
	border-radius:10px;
	background-color:#fff;
	}
.english_test{
	height:120px;
	color:#666666;
	}
.english_test h5{
	color:#539CCC;
	margin:0px;}
.test_icon{
	width:100%;
	padding:10px;
	float:left;
	}
.test_icon>div{
	width:20%;
	text-align:center;
	float:left;
	height:auto;}
.test_icon>div>img{
	margin:0px auto;
	display:inline;
	}
.hr{
	width:98%;
	float:left;
	color:#DEF1FF;
	}

.userthink{
	border:1px solid #F7F2E5;
	border-radius:10px;
	height:120px;
	width:100%;
	padding:10px;
	margin-top:20px;
	float:left;}
.userthink ul{
	list-style:none;
	width:100%;
	padding:0px;
	margin:0px;
	float:left;	}
.userthink ul li{
	float:left;
	height:20px;
	line-height:20px;
	text-align:center;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	width:50%;
	border:2px solid #f5f5f5;
	}
.userthink .userDetail{
	width:100%;
	height:80px;
	float:left;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:1px solid #f5f5f5 ;
	border-top:none;}
.userthink ul .default{
	/*background:url(../images/tab_default.png) no-repeat;*/
	background-color:#F7F2E5;
	
}
.userthink ul .selected{
	/*background:url(../images/tab_selected.png) no-repeat;*/
	background:#FFF;
	border-bottom:none;
}
.foot_line{
	float:left;
	width:100%;
	height:40px;
	margin-top:20px;
	border:2px solid #DAEFFF;
	border-bottom:none;
	border-left:none;
	border-top-right-radius:20px;
	}
	
/**
personal_center.html
**/
.center_midcenter{
	width:724px;
	}
.userNav{
		width:100%;
		border:1px solid #FFF;
		background-color:#2264a3;
		padding:10px;
		border-radius:10px;
	}
.userNav span{
	display:block;
	width:100%;
	text-align:center;
	color:#FFF;
	}
.userNav .nav_list{
	height:200px;
	background:#fff;
	width:100%;
	border-radius:10px;
	}