.login-header{color: #317EAC;font-family: 'Karla',sans-serif;font-weight: bold;margin: 0; text-rendering: optimizelegibility;margin: 10px auto;}
.login-box{margin: 0px auto;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;}