.login-header{color: #317EAC;font-family: 'Karla',sans-serif;font-weight: bold;margin: 0; text-rendering: optimizelegibility;margin: 10px auto;}
.login-box{margin: 0px auto;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;}
.editDialog{
    margin: 0px;
}
.editDialog .control-group{
    margin-bottom: 5px;
}
.editDialog .overHiddenX{
    overflow-x: hidden;
}
.dialogBody{
    height: auto;
    margin: 0px;
    padding:0px;
}