{% extends "common/base_content.html" %}
{% block title %}{{ news.title }}{% endblock %}
{% block otherres %}
    <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script type="text/javascript">
        $(function () {
            new English.Common.News().newsDetailInit({{ news.id }});
        })
    </script>
{% endblock %}
{% block content_detail %}
    <div class="span12">
        <ul class="breadcrumb bg_white">
            <li><a href="/">首页</a> <span class="divider">&gt;</span></li>
            <li><a href="/news/">双语新闻</a> <span class="divider">&gt;</span></li>
            <li class="active">{{ news.title }}</li>
        </ul>
    </div>
    <div class="span12">
        <div class="span12">
            <label><h2 class="span12">{{ news.title|escape }}</h2></label>
            <label><h4 class="span11">{{ news.titleEnglish }}</h4></label>
        </div>
        <div class="span12">
            <label class="span9">日期：{{ news.createDate|date:'Y-m-d' }}　　{{ news.comeFrom }}　　阅读量：{{ news.readCount }}</label>
            <label id="newsShare" style="display:none;">{{ news.shareCount }}</label>
            <div class="span3" style="text-align: right;">
                <div class="btn-group" data-toggle="buttons-radio">
                    <button class="btn btn-mini btn-info translate" data-target='CH'>中</button>
                    <button class="btn btn-mini btn-info  translate" data-target='EN'>英</button>
                    <button class="btn btn-mini btn-info active translate" data-target='CE'>双</button>
                </div>
            </div>
        </div>
    </div>
    {% spaceless %}
        <div class="span12">
            <h4>导读：</h4>
            <p class="text-left">{{ news.introduce }}</p>
        </div>
        <div class="span12 row-fluid">
            <div class="span9">
                <hr>
                <div class="span12">
                    <div class="span12 dds">
                        {% for cont in content %}
                            {{ cont|safe }}
                        {% endfor %}
                        <hr>
                    </div>

                </div>
                <div class="span12">
                    {% include "common/sharetoolbar.html" %}
                </div>
                <div class="span12">
                    <div class="span12">
                        <p class="span12"> </p>
                        <div class="span12 row-fluid">
                            <div class="span5">
                                <strong>众说风云</strong>
                            </div>
                            <div class="span7 text-right">
                                <div class="span4"><a href="/news/comment/{{ news.id }}/" class="btn btn-link">{{ news.readCount }} </a>人阅读</div>
                                <div class="span4"><a id="commentCount" href="/news/comment/{{ news.id }}/" class="btn btn-link">{{ news.commentCount }}</a>人参与评论</div>
                                <div class="span4"><a href="/news/comment/{{ news.id }}/" class="btn btn-link" style="color:#333333; ">更多评论</a></div>
                            </div>
                        </div>
                        {% if request.session.loginFlag %}
                        <div class="span12">
                                <form method="post" action="/news/comment/add/" id="commentFm" onsubmit="return false;">
                                    <div style="width:100%;height: 150px;margin-bottom: 10px;">
                                        <div style="padding:20px 0px;width:20%;height: 110px;border:1px solid #ccc;text-align: center;position: relative;left: 0px;">
                                            <img src="/upload/{{ request.session.login.photo }}" style="width: 100px;height: 100px;" class="img-polaroid">
                                        </div>
                                        <div style="border:1px solid #ccc;overflow:hidden;width:80%;height:150px;position:relative;left: 20%;top:-152px;">
                                            <textarea style="border: 0px;margin: 0px;width: 100%;height: 100%;" placeholder="评论此文章"  name="comment"></textarea>
                                            <input type="hidden" name="newsId" value="{{ news.id }}">
                                        </div>
                                    </div>
                                    <div class="span12" style="text-align: right;margin-left: 0px;">
                                        <small class="span8">网友评论仅供网友表达个人看法，并不表明网站同意其观点或证实其描述</small>
                                        <small class="span2 text-success" id="sendInfo"></small>
                                        <div class="span2">
                                        <button class="btn btn-primary" onclick="new English.Common.News().addComment('commentFm',returnCitySN.cip,returnCitySN.cname)">发表</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="span3">
                <div class="row-fluid">
                    <img src="/upload/{{ news.imageShow }}" class="img-rounded span12"/>

                    <div class="span12">
                        <h4>相关阅读</h4>
                    </div>
                    <div class="span12">
                        <h4>猜你喜欢</h4>
                    </div>
                    <div class="span12">
                        <h4>相关阅读</h4>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}