{% extends "adminConsole/templateAdmin.html" %}
{% block title %}
    管理平台
{% endblock %}
{% block res %}
    <script type="text/javascript">
        $(function(){
            $("#userGrid").datagrid({
                fit:true,
                fitColumns:true,
                title:'用户信息',
                idField:"id",
                url:"/console/user/list/",
                queryParams:{"csrfmiddlewaretoken": English.Common.cookieTool.getCsrftoken()},
                columns:[[
                    {field:"id",checkbox:true},
                    {title:"登录名称",field:'userName',width:100},
                    {title:'用户昵称',field:'nickName',width:100},
                    {title:"邮箱地址",field:'email',width:100},
                    {title:"注册时间",field:'regDate',width:100},
                    {title:"年龄",field:'passwords',width:100}
                ]],
                toolbar:"#userGridTools",
                pagination:true

            })
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row-fluid" style="height: 100%;">
        <table id="userGrid" style="width:100%;"></table>
        <div id="userGridTools">
            <button class="btn btn-small btn-primary">删除</button>
        </div>
    </div>
{% endblock %}