{% extends "adminConsole/admin.html" %}
{% block title %}
    管理平台
{% endblock %}
{% block res %}
    <script type="text/javascript">
        $(function(){
            $("#myGrid").datagrid({
                checkbox:true,
                title:'用户信息',
                columns:[
                    {title:"登录名称",name:'userName'},
                    {title:'用户昵称',name:'nickName'},
                    {title:"邮箱地址",name:'email'},
                    {title:"注册时间",name:'regDate'},
                    {title:"年龄",name:'passwords'}
                ],
                url:"/console/user/list/",
                pagelist:[10,20,30,50],
                pagination:true,
                idField:"mx"
            })
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li><a href="#">首页</a> <span class="divider">/</span></li>
            <li><a href="#">用户管理</a> <span class="divider">/</span></li>
            <li class="active">预览</li>
        </ul>
    </div>
    <div class="row-fluid">
        <table id="myGrid">
            <!--
            <thead>
                <tr class="info">
                    <td class="grid-checkbox"><input type="checkbox"/></td>
                    <td>登录名称</td>
                    <td>用户昵称</td>
                    <td>用户年龄</td>
                    <td>其他</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </tbody>
            -->
        </table>
    </div>

    <!--内容页面-->
    用户页面
    <!--内容页面 end -->
{% endblock %}